<div class="sitelen-controls float-end">

  o luka e wile sina:
  <div class="form-check form-switch form-check">
    <label class="form-check-label" for="indent">o tawa e sitelen</label>
    <input class="form-check-input" type="checkbox" role="switch" id="indent">
  </div>
  <div class="form-check form-switch form-check">
    <label class="form-check-label" for="sitelen-checkbox">o kepeken e sitelen pona</label>
    <input class="form-check-input" type="checkbox" role="switch" id="sitelen-checkbox">
  </div>
  <div class="form-check form-switch form-check">
    <label class="form-check-label" for="sitelen-linja-checkbox">o suli e linja</label>
    <input class="form-check-input" type="checkbox" role="switch" id="sitelen-linja-checkbox">
  </div>
  <div class="form-check form-switch form-check">
    <label class="form-check-label" for="sitelen-kulupu-checkbox">o kulupu e sitelen</label>
    <input class="form-check-input" type="checkbox" role="switch" id="sitelen-kulupu-checkbox">
  </div>

  <script>
    const checkboxes = {
      indent: document.getElementById("indent"),
      sitelen: document.getElementById("sitelen-checkbox"),
      sitelen_linja: document.getElementById("sitelen-linja-checkbox"),
      sitelen_kulupu: document.getElementById("sitelen-kulupu-checkbox"),
    }

    function updateCheckboxes(tp_bools) {
      checkboxes.sitelen_linja.disabled = !tp_bools.sitelen
      checkboxes.sitelen_kulupu.disabled = !tp_bools.sitelen
    }

    function initializeCheckboxes(tp_bools) {
      checkboxes.indent.checked = tp_bools.indent;
      checkboxes.sitelen.checked = tp_bools.sitelen;
      checkboxes.sitelen_linja.checked = tp_bools.sitelen_linja;
      checkboxes.sitelen_kulupu.checked = tp_bools.sitelen_kulupu;
      updateCheckboxes(tp_bools);
    }

    initializeCheckboxes(getStoredTPBools());
  </script>

</div>
