h1, h2, h3, h4, h5, h6 {
  @extend %headings !optional;
}

body {
  /* adjusts body content to account for fixed position banner */
  padding-top: 10ch;
}

.sitelen-controls {
  position: sticky;
  top: 10ch;
}

h1 {
  text-decoration: underline;
}
