.sitelen-pona {
  font-family: nansi-nanpa;
}

html[tp-script|="sitelen"] {
  .sitelen-pona-able {
    font-family: nansi-nanpa;

    %headings {
      font-family: nansi-nanpa;
    }
  }
}

/* restore font in no-sitelen-pona tags */
.no-sitelen-pona {
  font-family: var(--bs-body-font-family)
}

/* necessary due to sitele as icon */
.navbar-icon {
  font-size: 1.5rem;
  position: absolute;
}

.navbar-text {
  margin-left: 2rem;
}

/* sitelen ligatures */

html[tp-script]:not([tp-script="latin"]) {
  .latin-comma,
  .latin-qmark,
  .latin-quote {
    display: none;
  }

  h1, a, u {
    text-decoration: none;
  }
}

html[tp-script="latin"] {
  .sitelen-joiner,
  .sitelen-glyph-reverse-start,
  .sitelen-glyph-reverse-end,
  .sitelen-glyph-start,
  .sitelen-glyph-end {
    display: none;
  }
}

html[tp-script="sitelen"] {
  .sitelen-joiner,
  .sitelen-glyph-reverse-start,
  .sitelen-glyph-reverse-end,
  .sitelen-glyph-start,
  .sitelen-glyph-end {
    display: none;
  }
}

html[tp-script="sitelen-ligatures-simple"] {
  .sitelen-joiner {
    display: none;
  }
}

html[tp-script="sitelen-ligatures-complex"] {
  .sitelen-pi-joiner,
  .sitelen-pi-joiner + .sitelen-glyph > .sitelen-glyph-start,
  .sitelen-pi-joiner + .sitelen-glyph > .sitelen-glyph-end
  {
    display: none;
  }
}
