.sitelen-pona {
  font-family: nansi-nanpa;
}

html[data-tp-sitelen] main {
  & .sitelen-pona-able {
    font-family: nansi-nanpa;
    font-size: 150%;

    & %headings {
        font-family: nansi-nanpa;
      }
  }
}

/* restore font in no-sitelen-pona tags */
.no-sitelen-pona {
  font-family: var(--bs-body-font-family)
}

/* necessary due to sitele as icon */
.navbar-icon {
  font-size: 1.5rem;
  position: absolute;
}

.navbar-text {
  margin-left: 2rem;
}

/* sitelen ligatures */

html[data-tp-sitelen] {
  .latin-period,
  .latin-comma,
  .latin-qmark {
    display: none;
  }

  & h1, a, u {
    text-decoration: none;
  }
}

html[data-tp-sitelen][data-tp-sitelen-linja] {
  .sitelen-glyph {
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }

  .sitelen-glyph-reverse {
    &::before {
      content: "{";
    }
    &::after {
      content: "}";
    }
  }
}

html:not([data-tp-sitelen]),
html:not([data-tp-sitelen-kulupu]) {
  .sitelen-joiner {
    display: none;
  }
}
